.container {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 50%;
}

.right{
    width: 170%;
}

.divider {
    width: 20%;
    border-left: 2px solid black;
    height: 50vh;
}

#contador3{
    margin-left: 200px;
}

label,
input[type='radio'] {
  display: block;
  margin-top: 1em;
}

input:checked {
  border: none;
  outline: 2px solid rgb(58, 24, 42);
}
